# Игнорируем виртуальное окружение (оно у каждого свое)
.venv/
env/
venv/

# Игнорируем кэш питона
__pycache__/
*.pyc

# Игнорируем системные файлы Mac (на будущее)
.DS_Store

# Игнорируем настройки редактора VS Code (личные настройки)
.vscode/

# (Опционально) Если не хочешь заливать саму обученную модель
# artifacts/*.joblib